name: Docker

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        version:
        - "6.1.0"
        nvidia_video_codec_sdk:
        - "12.1.14.0"
        - "12.0.16.1"
        cuda:
        - "12.1.1"
        - "12.0.1"
        - "11.8.0"
        include:
        - version: "6.1.1"
          ref: "6.1"
        - nvidia_video_codec_sdk: "12.1.14.0"
          nvidia_video_codec_sdk_short: "12.1"
        - nvidia_video_codec_sdk: "12.0.16.1"
          nvidia_video_codec_sdk_short: "12.0"
        - cuda: "12.1.1"
          cuda_short: "12.1"
        - cuda: "12.0.1"
          cuda_short: "12.0"
        - cuda: "11.8.0"
          cuda_short: "11.8"

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure
      id: config
      run: |-
        NPROC=$(nproc)

        echo "NPROC=$((NPROC*2+1))" >> $GITHUB_ENV
        echo "NPROC=$((NPROC*2+1))" >> $GITHUB_OUTPUT

        echo "repo-owner=${{ github.repository_owner }}" >> $GITHUB_OUTPUT
        echo "repo-name=${GITHUB_REPOSITORY#*/docker-}" >> $GITHUB_OUTPUT

    - name: Setup - buildx
      uses: docker/setup-buildx-action@v3

    - name: Setup - Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Setup - Github Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}

    - name: Setup - Docker image metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ steps.config.outputs.repo-owner }}/${{ steps.config.outputs.repo-name }}
          ghcr.io/${{ steps.config.outputs.repo-owner }}/${{ steps.config.outputs.repo-name }}
        flavor: |
          latest=${{ !!matrix.latest }}
          suffix=-nvidia${{ matrix.nvidia_video_codec_sdk_short }}-cuda${{ matrix.cuda_short }}
        tags: |
          type=semver,pattern={{major}}.{{minor}},value=${{ matrix.version }}
          type=semver,pattern={{major}}.{{minor}}.{{patch}},value=${{ matrix.version }}

    - name: Build
      uses: docker/build-push-action@v5
      id: build
      with:
        context: nvidia-ubuntu22.04
        build-args: |
          version=${{ matrix.ref || matrix.version }}
          cuda=${{ matrix.cuda }}
          nvidia_video_codec_sdk=${{ matrix.nvidia_video_codec_sdk }}
          repo=${{ matrix.repo || 'FFmpeg/FFmpeg' }}
          MAKEFLAGS=-j${{ env.NPROC }}
        push: true
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
